@import "../sass/css-components/variables";

mat-toolbar {
  background: $text-color-primary;
  box-shadow: 0 2px 4px rgba($color-black, 0.08),
    0 4px 12px rgba($color-black, 0.08);
  border-bottom: 1px solid $color-white;
  display: grid;
  grid-template-columns: 1fr;
  color: $color-white;
}

.material-header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

@media (max-width: 600px) {
  .material-header {
    font-size: 0.8725rem;
  }
}
