<div class="container" id="#section-home">
  <form class="clearfix" autocomplete="off" novalidate>
    <h3>Offer Form</h3>
    <fieldset>
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput id="email" type="text" placeholder="Email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput id="firstName" type="text" placeholder="First Name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput id="lastName" type="text" placeholder="Last Name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Deposit ($)</mat-label>
          <mat-select>
            <mat-option value="one">20</mat-option>
            <mat-option value="two">50</mat-option>
            <mat-option value="three">100</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label for comment>Comment</mat-label>
          <textarea
            matInput
            id="comment"
            placeholder="Add Comment Here"
            rows="7"
          ></textarea>
        </mat-form-field>
      </div>
    </fieldset>
    <button (click)="clear()">Submit</button>
  </form>
  <div>
    <p class="para-text">
      On Date(DD/Mnth/Year), your Co Lmited ACN XXX XX! SX! (Co Lmited) shares
      were acquired by Co Investment Holdings Pty Ltd ACN XXX XX! SX! (ABC
      Bidder), a wholly owned subsidiary of Co Pty Holdings Limited ACN XXX XX!
      SX! (ABC), under Part 6A.1 of the Corporations Act. In exchange for each
      of your Co shares, Bidder holds $1.44 cash and 0.1116 ABC shares, pending
      your direction of how it is to be dealt with. To claim your money and
      shares, please proceed.
    </p>
  </div>
  <br />
  <menu>
    <a href="#popup" class="" title="Need Assistance">Proceed</a
    ><!--btn-animated-->
  </menu>
  <br /><br />
</div>

<div class="popup" id="popup">
  <div class="popup__content">
    <a href="#section-home" class="popup__close">&times;</a>
    <h2 class="heading-secondary">Important News</h2>
    <h3 class="heading-tertiary">The Offer is Closed🔒</h3>
  </div>
</div>
